@charset "utf-8";
/* CSS Document */

html
{
    font-size:13px;
    font-weight:600;
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
    background-image:url(../images/bg.png);
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #E4CA72 0%, #D97A4C 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #E4CA72 0%, #D97A4C 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #E4CA72 0%, #D97A4C 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E4CA72), color-stop(1, #D97A4C));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #E4CA72 0%, #D97A4C 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #E4CA72 0%, #D97A4C 100%);

}

body
{
    height:100%;
    margin:0;
    opacity: 0;
}

a
{
    text-decoration:none
}

/*DIV del logo para mayoría de las pantallas*/
.logo_big
{

    margin-left:auto;
    margin-right:auto;
    max-width:557px;
    max-height:283px;
    text-align:center;
}

.logo_big img
{
    margin-top:20px;
    max-height:75%;
    max-width:75%;
}

/*DIV del logo para la pantalla del menú*/

.logo_small
{
    margin-left:30px;
    max-width:186px;
    max-height:94px;
    text-align:left;	
}

.logo_small img
{
    margin-top:20px;
    max-height:95%;
    max-width:95%;
}

/*Botón de configuración del menú*/
.btn_config
{
    max-width:53px;
    max-height:37px;
    float:right;
    margin-top:-70px;
    margin-right:10px;
}

.btn_config img
{
    max-width:100%;
    max-height:100%;
}

/*El container de todo lo que no es header (logo) o footer (botones)*/
.content
{
    text-align:center;
}

/*Texto normal que se quiera colocar*/
.texto
{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    max-width:557px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
.cat
{
        padding-top:0px;
}


/*Texto con caja en fondo blanco, como en los TIPS*/
.texto_blanco
{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    font-weight:100;
    text-align:left;
    background-color:#FFF;
    border-radius: 5px;
    border: 1px solid #BBB;
    max-height:220px;
}
.texto_blanco ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.contenedorImagenTip
{
    max-width:100%;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom: 1px;
    border-color:lightgrey;
    text-align: center;
    border-style:solid;
    padding-top:15px;
    padding-bottom:7.5px;
    padding-right:15px;
    padding-left:15px;
}
.contenedorImagenTip img
{
    max-width: 100%;

}
.contenedorTextoTip 
{
    padding-top:7.5px;
    padding-bottom:15px;
    padding-right:15px;
    padding-left:15px;

}


/*Espacio para texto de una línea que ocupa lo ancho de toda la pantalla, usada en el menú principal*/

.full_banner
{
    background-color:#FFF;
    border-radius: 5px;
    border: 1px solid #BBB;
    margin-left:10px;
    margin-right:10px;
    margin-top:25px;
    padding:10px;
}

/*Cuando se quiere tener algo de input, se usa este DIV*/

.forma
{

    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    max-width:557px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
}


/*Cambia el estilo de los textfields*/

input[type='text'], input[type='password'], input[type='number']
{
    width: 100%;
    height:22px;
    border-radius: 5px;
    border: 1px solid #BBB;
    color:#333;
    padding-left:5px;
}

/*Cambia el estilo de los pickers*/

select
{
    width:100%;
    height:22px;
}

table
{
    width:100%;
}


/*Cuando quieres hacer un input de radio buttons se usa una estructura de lista no numerada*/

.listaRadio
{
    background-color:#FFF;
    border-radius: 5px;
    list-style-type:none;
    padding-left:0px;
    position: relative;
}


.listaRadio li
{
    line-height:20px;
    height: 22px;
    padding:5px;
    border-bottom: 1px solid #BBB;

}

.listaRadio li:first-of-type
{
    border-top: 1px solid #BBB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listaRadio li:last-of-type
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Aquí se definen las listas que tienen como elementos links*/

.lista_links
{
    border-radius: 5px;
    list-style-type:none;
    padding-left:0px;
    position: relative;
    padding-top: 0;
    background-color:#FFF;

}
.lista_links_busqueda
{
    border-radius: 5px;
    list-style-type:none;
    padding-left:0px;
    position: relative;
    padding-top: 0;
    background-color:#FFF;
    background-color: transparent;
    margin: 0;

}
.scrollable
{
    background-color: transparent;
    margin: 0;
}

.contenedorBusquedaScroller
{
    width:100%;
    background-color:#FFF;
    border-radius: 5px;

}



#wrapper
{
    max-height: 231px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color:#FFF;

}
#wrapperBusqueda
{
    max-height: 198px;
    padding: 0;
    margin: 0;

}

.lista_links_busqueda li:first-of-type
{
    border-top: 1px solid #BBB;

}

.lista_links_busqueda li:last-of-type
{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

}
.lista_links_busqueda li
{
    line-height:20px;
    height: 22px;
    padding:5px;
    border-bottom: 1px solid #BBB;
}


.lista_links  li
{
    line-height:20px;
    height: 22px;
    padding:5px;
    border-bottom: 1px solid #BBB;
}

.lista_links li.pressed
{
    background-color:#EEE;
    line-height:20px;
    height: 22px;
    padding:5px;
    border-bottom: 1px solid #BBB;

}

canvas
{
    transform: rotate(90);
}

.lista_links li:first-of-type
{
    border-top: 1px solid #BBB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lista_links li:last-of-type
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*En caso de que la lista no sea de radio buttons, se usan los siguientes DIVS para darles formato*/

.elementoCateg
{
    color:black;
}

.elementoCategLink
{
    color:black;
    height:22px;
}

.nombreCateg
{
    float:left;
    text-align: left;
}

.caloriasCateg
{
    font-weight:100;
    float:right;
}

.flechaCateg
{
    float:right;
}

.flechaCateg img
{
    max-height:22px;
}

/*Los siguientes son recuadros del menú que indican tu peso actual y tu meta*/

.recuadros_meta
{
    text-align:center;
    width:100%;
    height:65px;
    margin-top:10px;

}

.recuadro_izq
{
    float:left;
    width:75px;
    height:67px;
    margin-left:40px;
    background-color:#FFF;
    border-radius: 5px;
    border: 1px solid #BBB;

}

.flecha_enmedio
{
    display: inline-block;
    margin:0 auto;
    width:75px;
    height:67px;
    background:url(../images/flecha.png);
    background-position:center center;
}

.recuadro_der
{
    float:right;
    width:75px;
    height:67px;
    margin-right:40px;
    background-color:#FFF;
    border-radius: 5px;
    border: 1px solid #BBB;

}

/*Container para los dos botones que te llevan a la gráfica desde el menú principal*/

.recuadros_grafica
{
    text-align:center;
    width:100%;
    height:75px;
    margin-top:15px;
    margin-bottom:-30px;
    text-align:left;
}


.grafica_peso_img
{

    float:left;
    width:139px;
    height:57px;
    margin-left:10px;

}

.grafica_peso_img img
{

    max-width:100%;
    max-height:100%;

}

.grafica_imc_img
{

    float:right;
    width:139px;
    height:57px;
    margin-right:10px;

}

.grafica_imc_img img
{

    max-width:100%;
    max-height:100%;

}


/*DIV del footer que contiene los botones*/

.botones
{
    color:#383838;
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
    padding-bottom:10px;
}

.botones a
{
    color:inherit;
    text-decoration:none;
}

.btn_izq
{
    margin-left:20px;
    float:left;
    width:115px;
    height:45px;
    line-height:45px;
    background-image:url(../images/base_btn.png);
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.btn_pressed
{
    background-image:url(../images/base_btn_pressed.png) !important;
}

.btn_der
{
    margin-right:20px;
    float:right;
    width:115px;
    height:45px;
    line-height:45px;
    background-image:url(../images/base_btn.png);
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;

}

/*Para lista con "checkboxes", se customizan los radio buttons*/
input[type=radio]
{
    visibility: hidden;
    width:100%;
    height: 100%;
    z-index:100;
}

.radioCustom 
{
    margin-left: -18px;	
    margin-bottom: 2px;
    position: relative;
    height: 100%;
    width: 100%;

}
.textoRadioCustom
{
    position: absolute;
    margin:auto;
    bottom: 0px;
    top: 0px;
    height: 19px;
    left: 55px;
    pointer-events:none;

}
.radioCustom  label 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    margin:auto;
    left:12px;
    background-image: url(../images/unselected.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

.radioCustom  label:after 
{
    opacity: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/selected.png);
    background-size: 15px 15px;
    background-position: 15px;		
    border-top: none;
    border-right: none;
    background-repeat: no-repeat;

}

.radioCustom  input[type=radio]:checked + label:after 
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* grafica lineas*/

svg
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.botonesLogo
{
    float: right;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;

}
.contenedorBotonesYSombra
{
    float:right;
    width:15%;
    height: 100%;
    background-color: white;
}
.contenedorSombra
{
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 2; 
    top: 0;
    left: 0;

}

.contenedorSombra img	/*Resize automático y proporcional del sombreado*/
{
    max-width:100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
}
.contenedorGrafica
{
    width: 85%;
    height: 100%;
    background-color:white;
    position: absolute;

}

#home
{
    height: 100%;
    width: 100%;
}

.line 
{
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.contenedorExternoGrafica
{
    clear:both;
    height: 100%;
    width: 100%;
    position: relative;
}
.contenedorTituloGrafica
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    margin:auto;
    bottom: 0;

}
#textoTitulo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    text-align: center;
    width: 500%;
    position: absolute;
    top:50%;
    bottom:50%;
    left: -180%;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */

}
.contenedorBotonRegresar
{
    width:100%;
    height: 15%;
    position: absolute;
    top:0;
    text-align: center;
    padding-top: 4%;
    z-index: 2;

}


.contenedorBotonRegresar img	/*Resize automático y proporcional del sombreado*/
{
    max-height:100%;
}
.contenedorLogo 
{
    /* Safari */
    width:100%;
    height: 15%;
    position: absolute;
    margin:auto;
    bottom: 40px;
    text-align: center;
    padding-bottom: 4%;

}
.contenedorLogoPeso
{
    
    /* Safari */
    width:100%;
    height: 15%;
    position: absolute;
    margin:auto;
    bottom: 1%;
    text-align: center;

}
.contenedorInfo
{
   
    position: relative;
    bottom: 8%;
    text-align: center;
    max-width: 100%;
}
.contenedorInfo img
{
   max-width:100%;
   
}
.contenedorLogo img
{
    max-height:100%;
}
.contenedorLogoPeso img
{
    max-height:100%;
}



#busqueda
{
    float: right;
    width: 85%;
    height: 22px;
    right: 1%;
    position:absolute;
    bottom:0%;
    top: 0%;
    margin:auto;
}
.contenedorImagenBusqueda
{
    float:left;
    height: 25px;
    top: 0%;
    position: absolute;
    bottom: 0%;
    margin: auto;

}

.contenedorTextfieldBusqueda
{
    height: 22px;
    padding:5px;
    position: relative;

}

/*d3*/
.trazo
{
    fill: none;
    stroke: green;
    stroke-width: 3.5px;
    shape-rendering: ;	
}
.trazo2
{
    fill: none;
    stroke: red;
    stroke-width: 3.5px;
    shape-rendering: ;	
}

.axis path, .axis line {
    stroke: #000;
    stroke-width: 1px;

}

/*
.y.axis .tick
{
	display: none;
}
.x.axis .tick
{
    display: none;
}
.tick.text
{
    display:none;
}
*/

.grid .tick
{

}

@media screen and (min-height: 568px)
{
    /*En caso de ser iphone 5*/
    #wrapper
    {
        max-height: 294px;
    }
    #wrapperBusqueda
    {
        max-height: 261px;
    }
    .texto_blanco
    {
        max-height: 270px;
    }

}
@media screen and (min-height: 640px)
{
    /*En caso de ser nexus 4*/
    #wrapper
    {
        max-height: 363px;
    }
    #wrapperBusqueda
    {
        max-height: 330px;
    }
     .texto_blanco
    {
        max-height: 340px;
    }

}

/*
    Override de mobiscroll para intercambiar botones de "Aceptar" y "Cancelar"
*/

.dwb-c 
{
    float:left !important;
     margin-bottom:12px !important;
}

.dwb-s 
{
    float:right !important;
    margin-bottom:12px !important;
}

.white-popup {
  
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
      transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
}